.square-button_visibility {
  opacity: 0;
  font-size: 16px;
  transition: .4s;
}

.square-button_visibility:hover {
  opacity: 1;
}


@media all and (max-width: 768px) {
  .square-button_visibility {
    opacity: 1;
  }
}
