.page {
  max-width: 1440px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: #E5E5E5;
  color: #242424;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
