.photo-galary__photo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(206px, 359px));
  grid-template-rows: 1fr 1fr;
  column-gap: 1px;
  row-gap: 1px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
