.more__text {
  max-width: 420px;
  grid-area: text;
  margin-block: 0;
  font-family: 'Neue Machina', 'Aria', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
}
