.more__heading {
  max-width: 450px;
  font-family: 'NeueMachina';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 70px;
  letter-spacing: -0.01em;
  grid-area: heading;
  margin-block: 0;
  padding-bottom: 65px;
}
