.header__logo {
    width: 43px;
    height: 34.89px;
    margin: 15px 9px 11.11px 30px;
}

@media screen and (max-width: 1439px) {
  .header__logo {
    width: 2.9%;
    height: 2.4%;
}
}

@media screen and (max-width: 1100px) {
  .header__logo {
    width: 30px;
    height: 24.4px;
}
}
