.header {
    box-sizing: border-box;
    max-width: 1440px;
    display: flex;
    border-bottom: 1px solid #242424;
    font-family: 'Formular', 'Aria', sans-serif;
    /*===============================================*/
}

@media screen and (max-width:1100px){
  .header {
      display: none;
      background-color: #B7C09D;
      width: 150px;
      position: absolute;
      top: 0;
      right: 0;
  }
}



