.content-heading {
  font-family: 'Neue Machina', 'Aria', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  margin-block: 0;
}
