.about__text {
  font-family: 'Formular', 'Aria', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01' on;
  margin: 18px 0 0 60px;
  padding: 0;
  max-width: 509px;
}

@media screen and (max-width: 768px) {
  .about__text {
    font-size: 20px;
    line-height: 28px;
  }
}
