.burger {
  width: 45px;
  height: 45px;
  background-color: #242424;
  top: 0;
  right: 0;
  margin: 10px 8px 6px;
  position: absolute;
display: none;
  z-index: 2;
  background-image: url(../../media/images/burger.svg);
  background-repeat: no-repeat;
  background-position: center;
}


@media screen and (max-width:1100px){
  .burger {
      display: block;
  }
}
