.menu__item {
    display: flex;

    padding-left: 24px;
}

@media screen and (max-width: 1439px) {
  .menu__item {
    padding-left: 1vw;
}
}

@media screen and (max-width: 1100px) {
  .menu__item {
    padding-left: 0.7vw;
}
}

.menu__item::before {
    content: url('../../../media/images/Ellipse46.svg');
    height: 24px;
    width: 10px;
    opacity: 0;
    margin-top: -2px;
}
.menu__item::after {
    content: url('../../../media/images/Ellipse56.svg');
    height: 24px;
    width: 10px;
    opacity: 0;
    margin-top: -2px;
}

.menu__item:hover::after {
    opacity: 1;
}
.menu__item:hover::before {
    opacity: 1;
}

@media screen and (max-width: 1100px) {
  .menu__item {
    padding-left: 0;
    padding-top: 8px;
}
}
