.feedback__text {
  max-width: 468px;
  margin: 33px auto 33px 58px;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-left: 50px;
}

.feedback__text:last-of-type {
  margin: 0;
}

.feedback__text:last-of-type {
  margin: 0px auto 0px 58px;
}
