.performance__wrapper_block-one {
  margin-top: 185px;
  display: flex;
}

@media all and (max-width: 768px) {
  .performance__wrapper_block-one {
    margin-top: 80px;
    flex-direction: column;
  }
}
