.performance__container {
  width: 100%;
  max-width: 420px;
  padding: 0 30px;
  border-right: 1px solid #242424;
  display: grid;
  grid-column-gap: 1.875rem;
  align-content: flex-start;
  grid-template-areas:
  "img description"
  "img link";
}

.performance__container:last-of-type {
  border-right: none;
}

@media all and (min-width: 767px) and (max-width: 1388px) {
  .performance__container {
    margin-bottom: 30px;
  }
}
