.video__container {
  /* display: flex;
  gap: 59px;
  align-self: center;
  padding: 45px 0 0;
  margin-block: 0;
  list-style-type: none; */
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  aspect-ratio: 16 / 9;
}
